<div class="page-container">

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "logo.gif", alt: "Watch list", width: 200 %>
      <% end %>
      <%= link_to "Lists", root_path, class: "btn btn-ghost mr-auto" %>
    </div>
    <div class="collapse navbar-collapse flex-row ml-md-auto d-none d-md-flex" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <%= link_to "Create a list", new_list_path, class:"btn btn-flat" %>
        </li>
      </ul>
    </div>
  </div>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, crop: :fill %>)">
      <h1><%= @list.name %></h1>
  </div>

  <div class="container">
    <button class="btn btn-ghost" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
      Create a bookmark
    </button>
  <div class="collapse show" id="collapseExample">
    <%= simple_form_for([@list, @bookmark]) do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment, hint: 'Minimum is 6 characters'  %>
      <%= f.submit "Add a movie", class:"btn btn-flat" %>
    <% end %>
  </div>

    <div class="cards">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-trip d-flex flex-column">
          <img src="<%= bookmark.movie.poster_url %>" />
            <div class="card-trip-infos">
              <div>
                <p class="card-title"><strong><%= bookmark.movie.title %></strong> - <%= bookmark.movie.rating %>❤️</p>
                <p><%= bookmark.movie.overview %></p>
              </div>
            </div>
            <div class="card-trip-infos mt-auto d-flex align-items-center justify-content-between">
                <p class="card-comment"><i class="fas fa-angle-double-right"></i> <%= bookmark.comment %></p>
                <%= link_to "delete", bookmark_path(bookmark), method: :delete %>
            </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>

</div>
